<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tripster | <%=title %></title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/homepage.css" />
    <script src="javascripts/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class ="sticky">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1><a href="http://localhost:3000"><img src="/images/tripster_logo.png" /></a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="\logout">Logout</a></li>
          </ul>
          <ul class="right">
            <li><a href="\requests">Requests</a></li>
          </ul>
          <ul class="right">
            <li><a href="\createtrip">New Trip</a></li>
          </ul>
          <ul class="right">
            <li><a href="\profile"><%= user.givenName%></a></li>
          </ul>
          <ul class="right">
            <li><a href="\home">Home</a></li>
          </ul>
          <ul class="right">
            <li class="\search"><a href="\search"><img src="/images/search.png" /></a></li>
          </ul>
        </section>
      </nav>
    </div>

    <br />
    <!--<h1> Welcome <%= user.givenName %> <%=user.surname %> <%=user.id %></h1>-->
    <div class="row">
      <div class="large-12 columns">
        <div class="large-8 columns">
          <h3><% var url = '/trip?id='+tripid; %><a href=<%=url%>><%=trip[0].NAME%></a></h3>
          <h5>Start Date: <%=trip[0].START_DATE%></h5>
          <h6>Number of photos (<%=photos.length%>)<h6>
          </div>
      </div>
    </div>
    <br />
    
    <%if(photos!='' && photos.length!=0) { %>
    <div style="max-width: 80%" class = "row">
      <div class = "large-12 columns">
        <table>
          <thead>
            <tr>
              <th>Photo </th>
              <th>Tagline </th>
              <th>Date </th>
              <th>Likes</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0 ; i < photos.length ; ++i) { %>
              <tr>
                <td width = '20%'><img src=<%=photos[i].URL%>></img></td>
                <td width = '50%'><%=photos[i].TAGLINE%></td>
                <td width = '15%'><%=photos[i].PIC_DATE%></td>
                <td width = '15%'><%=photos[i].LIKES%></td>
              </tr>
            <% } %>
          </tbody>
        </table>
    </div>
    </div>
    <% } %>
    <table>
    <% for(var i = 0 ; i < photos.length ; ++i) { %>
    <tr>
      <td><%=photos[i].PHOTO_ID%></td>
    </tr>
    <% } %>
    </table>
    
    
    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/foundation.min.js"></script>
    <script src="/javascripts/foundation/foundation.reveal.js"></script>
    <script src="javascripts/parsley.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
