<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tripster | <%=title %></title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/homepage.css" />
    <script src="javascripts/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class ="sticky">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1><a href="http://localhost:3000"><img src="/images/tripster_logo.png" /></a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="\logout">Logout</a></li>
          </ul>
          <ul class="right">
            <li><a href="\requests">Requests</a></li>
          </ul>
          <ul class="right">
            <li><a href="\createtrip">New Trip</a></li>
          </ul>
          <ul class="right">
            <li><a href="\profile"><%= user.givenName%></a></li>
          </ul>
          <ul class="right">
            <li><a href="\home">Home</a></li>
          </ul>
          <ul class="right">
            <li class="\search"><a href="\search"><img src="/images/search.png" /></a></li>
          </ul>
        </section>
      </nav>
    </div>

    <br />
    <!--<h1> Welcome <%= user.givenName %> <%=user.surname %> <%=user.id %></h1>-->
    <div class="row">
      <div class="large-12 columns">
        <div class="large-8 columns">
          <h3><% var url = '/trip?id='+tripid; %><a href=<%=url%>><%=trip[0].NAME%></a></h3>
          <h5>Start Date: <%=trip[0].START_DATE%></h5>
          <h6>Number of photos and videos (<%=photos.length%>)<h6>
          </div>
      </div>
    </div>
    <br />
    
    <%if(photos!='' && photos.length!=0) { %>
    <div style="max-width: 80%" class = "row">
      <div class = "large-12 columns">
        <table>
          <thead>
            <tr>
              <th>Photo </th>
              <th>Tagline </th>
              <th>Date </th>
              <th>Likes</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0 ; i < photos.length ; ++i) { 
              if(photos[i].CONTENT_TYPE == 'Photo') { %>
              <tr>
                <td width = '20%'><% var url = '/photo?tripid='+tripid+'&albumid='+albumid+'&photoid='+photos[i].ID%><a href=<%=url%>><img src=<%=photos[i].URL%>></img></a></td>
                <td width = '50%'><%=photos[i].TAGLINE%></td>
                <td width = '15%'><%=photos[i].PIC_DATE%></td>
                <td width = '15%'><%if(photos[i].LIKES == null) { %>
                    0
                  <% } else { %>
                  <%=photos[i].LIKES%>
                  <% } %>
                  

                </td>
              </tr>
            <% }} %>
          </tbody>
        </table>
    </div>
    </div>
    <% } %>

    <%if(photos!='' && photos.length!=0) { %>
    <div style="max-width: 80%" class = "row">
      <div class = "large-12 columns">
        <table>
          <thead>
            <tr>
              <th>Video </th>
              <th>Tagline </th>
              <th>Date </th>
              <th>Likes</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0 ; i < photos.length ; ++i) { 
              if(photos[i].CONTENT_TYPE == 'Video') { %>
              <tr>
                <td width = '20%'>
                <script type="text/javascript">
                  function youtube_parser(url){
                    var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
                    var match = url.match(regExp);
                    if (match && match[2].length == 11) {
                      return match[2];
                    } else {
                    //error
                    }
                  }
                </script>
                <script>
                var url = 'http://img.youtube.com/vi/'+youtube_parser(<%=photos[i].URL%>)+'.jpg';
                document.write(url);
                </script>
                
                <script>
                </script>

                </td>
                <td width = '50%'><%=photos[i].TAGLINE%></td>
                <td width = '15%'><%=photos[i].PIC_DATE%></td>
                <td width = '15%'><%if(photos[i].LIKES == null) { %>
                    0
                  <% } else { %>
                  <%=photos[i].LIKES%>
                  <% } %>
                  

                </td>
              </tr>
            <% }} %>
          </tbody>
        </table>
    </div>
    </div>
    <% } %>
    
    
    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/foundation.min.js"></script>
    <script src="/javascripts/foundation/foundation.reveal.js"></script>
    <script src="javascripts/parsley.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
