<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tripster | <%=title %></title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/homepage.css" />
    <script src="javascripts/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class ="sticky">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1><a href="http://localhost:3000"><img src="/images/tripster_logo.png" /></a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="\logout">Logout</a></li>
          </ul>
          <ul class="right">
            <li><a href="\requests">Requests</a></li>
          </ul>
          <ul class="right">
            <li><a href="\createtrip">New Trip</a></li>
          </ul>
          <ul class="right">
            <li><a href="\profile"><%= user.givenName%></a></li>
          </ul>
          <ul class="right">
            <li><a href="\home">Home</a></li>
          </ul>
          <ul class="right">
            <li class="\search"><a href="\search"><img src="/images/search.png" /></a></li>
          </ul>
        </section>
      </nav>
    </div>

    <br />
    <!--<h1> Welcome <%= user.givenName %> <%=user.surname %> <%=user.id %></h1>-->
    <div class="row">
      <div class="large-12 columns">
        <div class="large-8 columns">
          <h3><% var url = '/trip?id='+tripid; %><a href=<%=url%>><%=trip[0].NAME%></a></h3>
          <h5>Start Date: <%=trip[0].START_DATE%></h5>
          <h6>Number of albums (<%=albums.length%>)<h6>
          </div>
      </div>
    </div>
    <br />
    <%if(albums!='' && albums.length!=0) { %>
    <div class = "row">
      <div class = "large-4 columns">
        <ul>
          <% for(var i = 0 ; i < albums.length ; ++i) { %>
              <li>
                <% var url = '/album?tripid='+tripid+'&albumid='+albums[i].ID; %><a href=<%=url%>><%=albums[i].NAME%></a>
              </li>
            <% } %>
        </ul>

    </div>
    </div>
    <% } %>
    
    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/foundation.min.js"></script>
    <script src="/javascripts/foundation/foundation.reveal.js"></script>
    <script src="javascripts/parsley.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
