<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tripster | <%=title %></title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/homepage.css" />
    <script src="javascripts/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class ="sticky">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1><a href="http://localhost:3000"><img src="/images/tripster_logo.png" /></a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="\logout">Logout</a></li>
          </ul>
          <ul class="right">
            <li><a href="\requests">Requests</a></li>
          </ul>
          <ul class="right">
            <li><a href="\createtrip">New Trip</a></li>
          </ul>
          <ul class="right">
            <li><a href="\profile"><%= user.givenName%></a></li>
          </ul>
          <ul class="right">
            <li class="active"><a href="\home">Home</a></li>
          </ul>
          <ul class="right">
            <li class="\search"><a href="\search"><img src="/images/search.png" /></a></li>
          </ul>
        </section>
      </nav>
    </div>

    <br />
    <div class="row">
      <div class="large-12 columns">
        <div class="large-3 columns">
          <div class="panel">
            <h5>My Trips</h5>
             <p>
              <% if(mytrips.length == 0) { %> 
              No trips to display
              <% } else { %>
              <table style="width: 100%">
                <thead>
                  <th style="text-align: left" width = '80%'> Trip Name </th>
                  <th style="text-align: center" width = '20%'> Date </th>
                </thead>
                <% for(var i = 0 ; i < mytrips.length ; ++i) { 
                  var url = "/trip?id="+mytrips[i].ID;
                %>
                <tr>
                  <td style="text-align: left" width = '80%'><a href=<%=url%>><%=mytrips[i].NAME%></a></td>
                  <td style="text-align: right" width = '20%'><date><%=mytrips[i].START_DATE%></date></td>
                </tr>
                <% } %>
              </table>
              <% } %>
             </p>
            <h5>All Trips</h5>
              <p>
              <% if(alltrips.length == 0) { %> 
              No trips to display
              <% } else { %>
              <table style="width: 100%">
                <thead>
                  <th style="text-align: left" width = '80%'> Trip Name </th>
                  <th style="text-align: center" width = '20%'> Date </th>
                </thead>
                <% for(var i = 0 ; i < alltrips.length ; ++i) { 
                  var url = "/trip?id="+alltrips[i].ID;
                %>
                <tr>
                  <td style="text-align: left" width = '80%'><a href=<%=url%>><%=alltrips[i].NAME%></a></td>
                  <td style="text-align: right" width = '20%'><date><%=alltrips[i].START_DATE%></date></td>
                </tr>
                <% } %>
              </table>
              <% } %>
             </p>
            <h5>Recommended Trips</h5>
            <p>
              <% if(recommendations.length==0) { %> 
              No recommendations
              <% } else { %>

              <table style="width: 100%">
                <thead>
                  <th style="text-align: left" width = '60%'> Trip Name </th>
                  <th style="text-align: center" width = '40%'> Owner </th>
                </thead>
                <% for(var i = 0 ; i < recommendations.length ; ++i) { %>
                <tr>
                  <td style="text-align: left" width = '60%'><%=recommendations[i].NAME%></td>
                  <td style="text-align: center" width = '40%'><date><%=recommendations[i].FIRST_NAME!=null?recommendations[i].FIRST_NAME:''%> <%=recommendations[i].LAST_NAME!=null?recommendations[i].LAST_NAME:''%></date></td>
                </tr>
                <% } %>
              </table>
              <% } %>
            </p>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="panel">
            <div class="boldverticalLine">
              <h5>Newsfeed</h5>
            </div>
            <% for(var i = 0 ; i < newsfeed.length ; ++i) { %>
            <div class="verticalLine">
              
              <% var names = newsfeed[i].USER_NAMES;
              var array = names.split(","); %>
              A new <%if(newsfeed[i].CONTENT_TYPE=='Photo') { %>photo<% } else { %>video<% } %> was added on <i><%=newsfeed[i].DISPLAY_CONTENT_DATE%></i> to the album <b><%=newsfeed[i].ALBUM_NAME%></b> of the trip <b><%=newsfeed[i].TRIP_NAME%></b>.
              <br />
              <img width='50%' src = <%=newsfeed[i].CONTENT_URL%>> </img>
              <i><%=newsfeed[i].TAGLINE%></i>
              <br />
              Members in the trip you know: <b>
              <% for(var j = 0 ; j < array.length - 1; j++) { %>
                <%=array[j]%>, 
              <% } if(j==array.length-1) { %>
                 <%=array[j]%>
              <% } %>

            </b>
              <br />
            </div>
          
            <% } %>
          </div>
        </div>
        <div class="large-3 columns">
          <div class="panel">
            <h5>Friends (<%=friends.length%>)</h5>
              <ul>
                <% for(var i = 0 ; i < friends.length ; ++i) { %>
                <% var url = '/profile?uid='+friends[i].ID %>
                <li><a href=<%=url%>><%=friends[i].FIRST_NAME!=null?friends[i].FIRST_NAME:''%> <%=friends[i].LAST_NAME!=null?friends[i].LAST_NAME:''%></a></li>
                <% } %>
              </ul>
              <h5>People you may know</h5>
              <p>
                <% if(friendrec.length == 0) { %>
                No suggestions at this time.
                <% } else { %>
                <ul>
                  <% for(var i = 0 ; i < friendrec.length ; ++i) { %>
                  <% var url = '/profile?uid='+friendrec[i].ID %>
                  <li><a href=<%=url%>><%=friendrec[i].FIRST_NAME!=null?friendrec[i].FIRST_NAME:''%> <%=friendrec[i].LAST_NAME!=null?friendrec[i].LAST_NAME:''%></a></li>
                  <% } %>
                </ul>
                <% } %>
              </p>
          </div>
        </div>
      </div>
    </div>  
    
    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/foundation.min.js"></script>
    <script src="/javascripts/foundation/foundation.reveal.js"></script>
    <script src="javascripts/parsley.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
