<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tripster | <%=title %></title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/homepage.css" />
    <script src="javascripts/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class ="sticky">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1><a href="http://localhost:3000"><img src="/images/tripster_logo.png" /></a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="\logout">Logout</a></li>
          </ul>
          <ul class="right">
            <li><a href="\requests">Requests</a></li>
          </ul>
          <ul class="right">
            <li><a href="\createtrip">New Trip</a></li>
          </ul>
          <ul class="right">
            <li><a href="\profile"><%= user.givenName%></a></li>
          </ul>
          <ul class="right">
            <li><a href="\home">Home</a></li>
          </ul>
          <ul class="right">
            <li class="\search"><a href="\search"><img src="/images/search.png" /></a></li>
          </ul>
        </section>
      </nav>
    </div>

    <br />
    <!--<h1> Welcome <%= user.givenName %> <%=user.surname %> <%=user.id %></h1>-->
    <div class="row">
      <div class="large-12 columns">
        <div class="large-8 columns">
          <h3><% var url = '/album?tripid='+tripid+'&albumid='+album[0].ID; %><a href=<%=url%>><%=album[0].NAME%></a></h3>
          </div>
      </div>
    </div>
    <br />

    <div align='center' style="max-width: 80%" class = "row">      
      <div class = "large-12 columns">
        <img src = <%=photos[0].URL%>></img>
      </div>
    </div>
    <br />
    <div align='center' style="max-width: 80%" class = "row">      
      <div class = "large-12 columns">
        Number of likes = <% if(photos[0].LIKE_COUNT == null) { %>0 <% } else { %><%=photos[0].LIKE_COUNT%><% } %>
      </div>
    </div>
    <div align='center' style="max-width: 80%" class = "row">      
      <div class = "large-12 columns">
        <% if(photos[0].STATUS != 'LIKED') { 

          var url = '/like?tripid='+tripid+'&albumid='+album[0].ID+'&photoid='+photos[0].ID;%>
          <a href = <%=url%>><img width="2%" src="/images/like.png" /></a>
          <% } %>
      </div>
    </div>

    <br />
    <%if(comments!='' && comments.length!=0) { %>
    <div align='center' style="max-width: 80%" class = "row">   
      <div class = "large-12 columns">
        <table width="100%">
          <thead>
            <tr>
              <th style="text-align: center">Commenter Name </th>
              <th style="text-align: center">Comment </th>
              <th style="text-align: center">Date </th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0 ; i < comments.length ; ++i) { %>
              <tr>
                <td style="text-align: center" width = '20%'><%=comments[i].FIRST_NAME!=null?comments[i].FIRST_NAME:''%> <%=comments[i].LAST_NAME!=null?comments[i].LAST_NAME:''%></th>
                <td style="text-align: left" width = '60%'><%=comments[i].PHOTO_COMMENT%></th>
                <td style="text-align: center" width = '20%'><%=comments[i].COMMENT_DATE%></th>
              </tr>
            <% } %>
          </tbody>
        </table>
    </div>
    </div>
    <% } %>

    <br />
    <div align='center' style="max-width: 80%" class = "row">   
      <div class = "large-12 columns">
        <% var url = '/addcomment?tripid='+tripid+'&albumid='+album[0].ID+'&photoid='+photos[0].ID; %>
        <form method='post' action=<%=url%>>
        <div class="large-10 columns">
          <input type='text' name='comment' placeholder='Enter your comment here'>
        </div>
        <div class="large-2 columns">
          <input type = 'submit' value='Submit Comment'>
        </div>
      </form>
    </div>
    </div>

    <br />
    
    
    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/foundation.min.js"></script>
    <script src="/javascripts/foundation/foundation.reveal.js"></script>
    <script src="javascripts/parsley.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
