<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tripster | <%=title %></title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/homepage.css" />
    <script src="javascripts/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class ="sticky">
      <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
          <li class="name">
            <h1><a href="http://localhost:3000"><img src="/images/tripster_logo.png" /></a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="\logout">Logout</a></li>
          </ul>
          <ul class="right">
            <li><a href="\requests">Requests</a></li>
          </ul>
          <ul class="right">
            <li><a href="\createtrip">New Trip</a></li>
          </ul>
          <ul class="right">
            <li><a href="\profile"><%= user.givenName%></a></li>
          </ul>
          <ul class="right">
            <li><a href="\home">Home</a></li>
          </ul>
          <ul class="right">
            <li class="\search"><a href="\search"><img src="/images/search.png" /></a></li>
          </ul>
        </section>
      </nav>
    </div>

    <br />
    <!--<h1> Welcome <%= user.givenName %> <%=user.surname %> <%=user.id %></h1>-->
    <div class="row">
      <div class="large-12 columns">
        <div class="large-8 columns">
          <h3><%=trip[0].NAME%></h3>
          <h5>Start Date: <%=trip[0].START_DATE%></h5>
          <h6>Number of friends invited:<h6>
          </div>
          <div align='center' class="large-2 columns">
            <br />
            <a href='#'><img style="width: 30%" src="/images/invite.png" /></a>
          </div>
      </div>
    </div>
    
    <br />
    <div class="row">
      <div class="large-12 columns">
        <div class="large-3 columns">
          <div class="panel">
            <h5>Itinerary</h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <h5>All Trips</h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="panel">
            <h5>Trip Updates</h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
        <div class="large-3 columns">
          <div class="panel">
            <h5>Going</h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <h5>Not Going</h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <h5>Pending</h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
      </div>
    </div>  
    
    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/foundation.min.js"></script>
    <script src="/javascripts/foundation/foundation.reveal.js"></script>
    <script src="javascripts/parsley.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
